# oneunit читает oscript.cfg из текущего каталога: тесты, запущенные из корня репозитория,
# находят зависимости пакета, которые `opm install -l --dev` кладёт в ./oscript_modules
lib.additional=./oscript_modules
