<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">

    <!-- AST -->
    <class name="MarkdownУзел"                       file="ast/MarkdownУзел.os"/>
    <class name="MarkdownДокумент"                   file="ast/MarkdownДокумент.os"/>
    <class name="MarkdownЗаголовок"                  file="ast/MarkdownЗаголовок.os"/>
    <class name="MarkdownПараграф"                   file="ast/MarkdownПараграф.os"/>
    <class name="MarkdownТекст"                      file="ast/MarkdownТекст.os"/>
    <class name="MarkdownГоризонтальнаяЛиния"        file="ast/MarkdownГоризонтальнаяЛиния.os"/>
    <class name="MarkdownКодInline"                  file="ast/MarkdownКодInline.os"/>
    <class name="MarkdownПереносСтроки"              file="ast/MarkdownПереносСтроки.os"/>
    <class name="MarkdownМягкийПеренос"              file="ast/MarkdownМягкийПеренос.os"/>
    <class name="MarkdownHTMLInline"                 file="ast/MarkdownHTMLInline.os"/>
    <class name="MarkdownСсылка"                     file="ast/MarkdownСсылка.os"/>
    <class name="MarkdownИзображение"                file="ast/MarkdownИзображение.os"/>
    <class name="MarkdownЖирный"                     file="ast/MarkdownЖирный.os"/>
    <class name="MarkdownКурсив"                     file="ast/MarkdownКурсив.os"/>
    <class name="MarkdownБлокКода"                   file="ast/MarkdownБлокКода.os"/>
    <class name="MarkdownHTMLБлок"                   file="ast/MarkdownHTMLБлок.os"/>
    <class name="MarkdownЦитата"                     file="ast/MarkdownЦитата.os"/>
    <class name="MarkdownСписок"                     file="ast/MarkdownСписок.os"/>
    <class name="MarkdownЭлементСписка"              file="ast/MarkdownЭлементСписка.os"/>

    <!-- Парсинг: общие компоненты -->
    <class name="MarkdownПозицияВИсходнике"          file="parsing/MarkdownПозицияВИсходнике.os"/>
    <class name="MarkdownЧитательСтрок"              file="parsing/MarkdownЧитательСтрок.os"/>
    <class name="MarkdownКонтекстПарсинга"           file="parsing/MarkdownКонтекстПарсинга.os"/>

    <!-- Блочные парсеры -->
    <class name="MarkdownПарсерЗаголовковATX"        file="parsing/block/MarkdownПарсерЗаголовковATX.os"/>
    <class name="MarkdownПарсерГоризонтальныхЛиний"  file="parsing/block/MarkdownПарсерГоризонтальныхЛиний.os"/>
    <class name="MarkdownПарсерИндентБлокаКода"      file="parsing/block/MarkdownПарсерИндентБлокаКода.os"/>
    <class name="MarkdownПарсерЗабораКода"           file="parsing/block/MarkdownПарсерЗабораКода.os"/>
    <class name="MarkdownПарсерHTMLБлока"            file="parsing/block/MarkdownПарсерHTMLБлока.os"/>
    <class name="MarkdownПарсерЦитат"                file="parsing/block/MarkdownПарсерЦитат.os"/>
    <class name="MarkdownПарсерСсылочногоОпределения" file="parsing/block/MarkdownПарсерСсылочногоОпределения.os"/>
    <class name="MarkdownПарсерПараграфов"           file="parsing/block/MarkdownПарсерПараграфов.os"/>

    <!-- Inline-парсеры -->
    <class  name="MarkdownInlineПарсер"              file="parsing/inline/MarkdownInlineПарсер.os"/>
    <module name="MarkdownHTMLСущности"              file="parsing/inline/MarkdownHTMLСущности.os"/>

    <!-- Рендереры -->
    <class name="MarkdownHTMLРендерер"               file="rendering/MarkdownHTMLРендерер.os"/>
    <class name="MarkdownJSONРендерер"               file="rendering/MarkdownJSONРендерер.os"/>
    <class name="MarkdownТекстовыйРендерер"          file="rendering/MarkdownТекстовыйРендерер.os"/>

    <!-- Конфигурация / реестр / парсер -->
    <class  name="MarkdownНаборРасширений"           file="MarkdownНаборРасширений.os"/>
    <class  name="MarkdownНастройки"                 file="MarkdownНастройки.os"/>
    <class  name="MarkdownРеестрКомпонентов"         file="MarkdownРеестрКомпонентов.os"/>
    <class  name="MarkdownПарсер"                    file="MarkdownПарсер.os"/>

    <!-- Фасад модуля -->
    <module name="Markdown"                          file="Markdown.os"/>

</package-def>
